/* decidr : https://github.com/lbracken/decidr
   :license: MIT, see LICENSE for more details.
*/
* {
  margin: 0;
}

html, body {
  padding: 0px;
  height: 100%;
  background-color: #f5f5fb;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
}

body {}

h1 {
  padding-bottom: .25em;
  font-size: 1.25em;
}

A:link    {color: #000; text-decoration: none;}
A:visited {color: #000; text-decoration: none;}
A:hover   {color: #000; text-decoration: underline;}
A:active  {color: #000; outline: none;}
A:focus   {-moz-outline-style: none;}

img {border: none;}
.clearPanel {clear: both;}

textarea {
	font-size: 0.95em;
}

#header {
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 1em;
	border-bottom: 7px solid #0288D1;

	background-color: #03A9F4;
	color: #FFF;
}

#decidrLogo {
	float: left;
	height: 24px;
	vertical-align: top;
	font-size: 1.5em;
}

#topLevelCtrlBar {
	float: right;
	display: inline;
}

#topLevelCtrlBar A:link, 
#topLevelCtrlBar A:visited, 
#topLevelCtrlBar A:hover, 
#topLevelCtrlBar A:active {
	color: #FFF !important;
}

.title {
	font-weight: 600;
	color: #000;
}

.desc {
	margin-top: 0.25em;
	color: #727272;
}

#prjHeader hr {
	margin: 0.5em 1em 0em 1em;
	border: 1px dashed #9E9E9E;
}

#prjInfo {
	float: left;
	padding-left: 1em;
}

#prjInfo .title {
	float: left;
	font-size: 1.75em;
}

#prjInfo .desc {
	float: left;
}

#prjCtrlBar {
	padding-right: 1em;
}

#prjCtrlBar * {
	display: inline;
	float: right;
}

#updateIndicatorContainer {
	height: 1.25em;
	margin: 0.25em 1em 0.5em 0em;
	color: #727272;
}

#updateInProgress {
	float: right;
}

#updateSuccess {
	float: right;
}

#updateFailure {
	float: right;
	color: #F44336;
	font-weight: 600;
}

#fatalErrorMessage {
	margin: 0px 0px 1em 2em;
	font-size: 1.5em;
	color: #F44336;
	font-weight: 600;
}

#content {
	position: relative;
	height: 550px;
	margin: 0.5em 1em 1em 1em;
}

#gridContainer {	
	display: none;
	height: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
	background-color: #FFF;
}

#grid svg {}

#infoDock {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
	background-color: #03A9F4;
	color: #FFF;
}

#itemInfo {
	margin: 0.75em;
}

#itemInfo .title {
	font-size: 1.0em;
	width: 95%;
	padding: 4px;
}

#itemInfo textarea {
	width: 95%;
	height: 10em;
	padding: 4px;
	margin: 1.5em 0em 1.550em 0em;
	resize: vertical;
}

#infoDockToggleBtn {
	display: none;
	position: absolute;
	right: 5px; 
	bottom: 5px;
	padding: 0.25em 0.5em 0.25em .5em;
}

/* create-dialog class covers both createEditProject and createEditItem dialogs */

.createEdit-dialog table {
	margin: 12px 0px 12px 0px;
}

.createEdit-dialog table td {
	vertical-align: top;
}

.createEdit-dialog input {
	width: 325px;	
	margin-bottom: 12px;
	font-size: 1.3em;
}

.createEdit-dialog textarea {
	width: 325px;
	height: 5em;
	resize: none;
}

.createEdit-dialog .buttonBar {
	float: right;
}

.createEdit-dialog .buttonBar button,img{
	margin-left: 10px;
}

#recentProjects {
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #CCC;
}

#recentProjects li {
	font-size: 1.2em;
	margin-bottom: 3px;
}

#footer {
	width: 600px;
	margin: auto;
	text-align: center;
	color: #727272; !important;
	font-size: 0.8em;
}

#footer A:link, 
#footer A:visited, 
#footer A:hover, 
#footer A:active {
	color: #727272 !important;
}

