<!DOCTYPE html>
<!-- decidr : https://github.com/lbracken/decidr
     :license: MIT, see LICENSE for more details.
-->
<html lang="en">
  <head>
   <!-- TODO: Insert BMX -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>    
    <link rel="stylesheet" href="static/css/style.css">
    {% block extra_style %}{% endblock %}
  </head>

  <body>  
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
    <!-- TODO: Insert GAE -->   

  </body>
</html>
