<!DOCTYPE html>
<!-- decidr : https://github.com/lbracken/decidr
     :license: MIT, see LICENSE for more details.
-->
<html lang="en">
  <head>
   <!-- TODO: Insert BMX -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>    
    <link rel="stylesheet" href="static/css/style.css">
    {% block extra_style %}{% endblock %}
  </head>

  <body>  
    {% block body %}{% endblock %}

    <footer>
      <div id="footer">
        <div id="footer-inner">
          © 2013 Levi Bracken
        </div>
      </div>
    </footer>

    {% block scripts %}{% endblock %}
    <!-- TODO: Insert GAE -->    

  </body>
</html>
